
Apps/DaemonOfPain/DaemonOfPain/bin/Debug/net5.0/DaemonOfPain.runtimeconfig.dev.json
Apps/DaemonOfPain/DaemonOfPain/obj/DaemonOfPain.csproj.nuget.dgspec.json
Apps/DaemonOfPain/DaemonOfPain/obj/DaemonOfPain.csproj.nuget.dgspec.json
Apps/DaemonOfPain/DaemonOfPain/obj/DaemonOfPain.csproj.nuget.g.props
Apps/DaemonOfPain/DaemonOfPain/obj/DaemonOfPain.csproj.nuget.g.targets
Apps/DaemonOfPain/DaemonOfPain/obj/Debug/net5.0/DaemonOfPain.GeneratedMSBuildEditorConfig.editorconfig
Apps/DaemonOfPain/DaemonOfPain/obj/project.assets.json
Apps/DaemonOfPain/DaemonOfPain/obj/project.nuget.cache
