<div class="container-fluid">
  <div class="row">
    <div class="col-3 brand">
      <p>Le pain, a.s.</p>
    </div>
    <div class="col-6 ">
      <mat-toolbar class="navbar">
        <a routerLinkActive="activeLink" routerLink="/ui/dashboard">Dashboard</a>
        <a routerLinkActive="activeLink" routerLink="/ui/configs">Configurations</a>
        <a routerLinkActive="activeLink" routerLink="/ui/logs">Logs</a>
        <a routerLinkActive="activeLink" routerLink="/ui/clients">Clients</a>
        <a routerLinkActive="activeLink" routerLink="/ui/users">Users</a>
      </mat-toolbar>
    </div>
    <div class="col user">
      <div class="row justify-content-end">
        <div class="col-2 userIcon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="col-4 name">
          <p>{{name}} {{surname}}</p>
          <i class="fa-solid fa-arrow-right-from-bracket logOut"></i>
          <a class="logOut" (click)="LogOut()"> Logout</a>
        </div>
        <div class="col-1 settings">
          <a (click)="openDialog()">
            <i class="fa-solid fa-gear"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-divider class="divider"></mat-divider>
