<body style="margin: 2%">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <mat-toolbar class="navbar">
          <a routerLink="/ui/dashboard">Dashboard</a>
          <a routerLink="/ui/configurations">Configurations</a>
          <a routerLink="/ui/logs">Logs</a>
          <a routerLink="/ui/clients">Clients</a>
          <a routerLink="/ui/users">Users</a>
        </mat-toolbar>
      </div>
      <div class="col text-end">
        <button routerLink="">Logout</button>
      </div>
    </div>
  </div>
  <mat-divider style="color: #0078D4; margin-left: 3%; margin-right: 3%"></mat-divider>
</body>
