<div class="container">
  <div class="row text-center">
    <p class="blue stats7dayshead">LAST 7 DAYS</p>
  </div>
  <div class="row labelborder">
    <p class="success-norun-error7 green">SUCCESS</p>
    <p class="counts7 centeredtext">{{success}}</p>
  </div>
  <div class="row labelborder">
    <p class="success-norun-error7 orange">NO RUN</p>
    <p class="counts7 centeredtext">{{noRun}}</p>
  </div>
  <div class="row labelborder">
    <p class="success-norun-error7 red">ERROR</p>
    <p class="counts7 centeredtext">{{error}}</p>
  </div>
</div>
