body, html {
  background-color: var(--Background-primary)
}

.header {
  overflow: hidden
}

.IconSetting {
  color: var(--Font-blue);
  font-size: 25px;
  float: left;
  margin-right: 10px;
  width: 1em
}

.header {
  margin-top: 0px
}

.header h1, .header h2 {
  color: var(--Font-blue);
  float: left;
  text-align: center;
  margin-top: -2px
}

.mat-dialog-title {
  margin-top: -10px
}

.mat-dialog-content {
  margin-top: -2em
}

.mat-dialog-content .content {
  margin-bottom: 10px
}

.col.big {
  border: 1px solid var(--Font-color);
  border-radius: 10px;
  padding-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background-color: var(--Background-secondary);
  box-shadow: var(--Shadow) 5px 5px 10px;
  margin-right: 10px;
  margin-left: 10px
}

.col.big p {
  color: var(--Font-color)
}

.col.left {
  margin-right: 10px
}

.col.right {
  margin-left: 10px
}

.col.right .content p {
  float: left
}

.content {
  margin-left: 3em
}

.content p {
  margin-bottom: 5px
}

::ng-deep .DateInput {
  font-size: 18px;
  width: 5em;
  height: 25px;
  margin-top: -20px;
  margin-left: 1em;
  margin-bottom: 30px
}

::ng-deep .mat-select-value {
  color: var(--Font-color)
}

mat-dialog-actions {
  margin-top: -1em
}

.Button {
  color: #fff;
  border-radius: 10px;
  width: 100px
}

.Button.cancel {
  margin-right: 10px;
  background-color: var(--Cancel)
}

.Button.cancel:hover, .Button.cancel:focus {
  background-color: var(--CancelFocus)
}

.Button.save {
  background-color: var(--Submit)
}

.Button.save:hover, .Button.save:focus {
  background-color: var(--SubmitFocus)
}

.content.database p {
  float: left
}

.content.database .timeInput {
  border-radius: 7px;
  border: var(--Font-color) solid 1px;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em
}

.content.database .ConfigUpdateFreq {
  margin-top: 2em
}

.content.database .ConfigUpdateFreq input {
  margin-left: 73px
}

input[type=time]::-webkit-calendar-picker-indicator {
  background: none;
  display: none
}

::ng-deep .mat-form-field-underline {
  display: none
}

::ng-deep .mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #0078d4
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #f6f6f6
}

::ng-deep .mat-slide-toggle-ripple.mat-ripple {
  display: none
}

.fa-floppy-disk {
  font-size: 25px;
  margin-right: 5px
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: .03 !important;
  background-color: #0078d4 !important
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0078d4
}
